
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Volunteer Tracker</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="banner-text">
        <h1>A Project management tool</h1>
         <p>To organize your volunteers</p>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
