
<h1>Your Current Projects</h1>

<% if @projects.any?() %>
  <h3>Here are your projects:</h3>

  <ul>
    <% @projects.each() do |project| %>
      <li><a href="/projects/<%= project.id() %>"><%= project.title() %></a></li>
    <% end %>
  </ul>

<% else %>

  <p>There are no Projects yet!</p>

<% end %>
