<h1><%= @project.title() %></h1>

<% if @project.volunteers().any?() %>
  <h3>Here are all the Volunteers in this list:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %> </li>
    <% end %>

  </ul>

<% else %>
  <p>There are no volunteers on this list!</p>
<% end %>

<div class="container">


</div>

<h3>Add a Volunteer to <%= @project.title() %></h3>

<form action="/volunteers" method="post">
  <input type="hidden" id="project_id" name="project_id" value=" <%= @project.id() %>">

  <label for="name">Full Name</label>
  <input id="name" name="name" type ="text">

  <br>
  <br>

  <button type="submit" class="btn">Add Volunteer</button>
</form>

<br>

<div class="container">
  <a href="/"><button class="btn">Home</button></a>
  <a href="/projects"><button class="btn">View all projects</button></a>
  <a href="/projects/new"><button class="btn">Add New Project</button></a>
</div>
