<h3>Add New Project</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Assign a name to your list:</label>
    <input class="form-control" id = "title" name="title" type="text" placeholder="Project name" autofocus>
    <button type="submit" class="button btn">Add List</button>
  </div>
</form>
