<h3>Add New Project</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label class="form-label" for='title' >title</label>
    <input class="form-control" id = "title" name="title" type="text" placeholder="title" autofocus>
    <br>
    <button type="submit" class="button btn">Add Project</button>
  </div>
</form>
